<div class="contact-form-wrapper">
    <form action="https://formspree.io/f/mrbglarr" method="POST">
      <fieldset>
        <input type="text" name="name" placeholder="Enter your Name" required /><br />
        <input type="email" name="email" placeholder="Enter your Email" required /><br />
        <input type="text" name="subject" value="Enter Subject" required /><br />
        <textarea name="message" placeholder="Enter your Message..." required></textarea>
      </fieldset>
  
      <button type="submit">Send</button>
    </form>
  </div>